<!DOCTYPE html>
<html>
    <head>
        <title>Yosa's first blog</title>
    </head>
    <body>
        <header>
            <h1>This is the header<h1>
        </header>
         <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p>This is my first post. Exciting, isn't it?</p>
        </article>
        <p>Hi there!</p>
        <p><a href="https://www.youtube.com/watch?v=nmyctV_0wuQ&list=RDnmyctV_0wuQ&index=19">Click me!</a></p>
    </body>
</html>